:root {
  --darker-grey: #212121;
  --dark-grey: #303030;
  --grey: #424242;
  --text-white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Jura', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darker-grey);
  color: var(--text-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}